<template>
  <div class="four-oh-four">
    <h1>404</h1>
    <router-link to="/"><h2>Take me home, country roads</h2></router-link>
  </div>
</template>

<style lang="stylus" scoped>
.four-oh-four {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 72px;
  }
}
</style>
