<template>
  <div class="container" :class="{ dark }">
    <header>
      <div class="lighthouse-wrapper">
        <lighthouse @tappytap="toggleDark" :needs-hint="needsHint"></lighthouse>
      </div>

      <router-link to="/" class="title">
        <h1>Emerson Matthews</h1>
      </router-link>

      <div class="links">
        <router-link to="/posts" title="blog">
          <i class="fa-2x fas fa-blog"></i>
        </router-link>

        <a href="https://github.com/dalematthews" title="GitHub">
          <i class="fa-2x fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/dale-matthews-kc/" title="Linkedin">
          <i class="fa-2x fab fa-linkedin"></i>
        </a>
      </div>
    </header>
    <main :class="{ post: $route.path.match('/posts/*') }">
      <Content/>
    </main>
    <footer>
      <span>Copyright © {{ (new Date()).getFullYear() }} Emerson Matthews</span>
      <div class="spacer"></div>
      <Content slot-key="footer"/>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return { dark: false, needsHint: true };
  },
  beforeMount() {
    const dark = localStorage.getItem('prefers-dark');
    this.needsHint = dark === null;
    this.dark = dark === 'true';
  },
  methods: {
    toggleDark() {
      this.dark = !this.dark;
      this.needsHint = false;
      localStorage.setItem('prefers-dark', this.dark);
    },
  },
};
</script>

<style lang="stylus" scoped>
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  z-index: 2;
  flex: 1;
  width: 90%;
  max-width: 900px;
}

header, footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

header {
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
  z-index: 1;

  .lighthouse-wrapper {
    position: absolute;
    max-width: 98%;
    overflow: hidden;
    left: 5px;
    margin-top: -50px;
    z-index: -1;
  }

  a.title, .links {
    mix-blend-mode: lighten;
  }

  h1 {
    font-size: 3rem;
    padding: 20px;
    margin: 0;
    line-height: 40px;
  }

  .btn--icon {
    margin: 10px;
  }

  .links {
    align-self: flex-end;
    margin-top: 20px;
  }

  a {
    padding: 0 20px;
    text-decoration: none;
  }
}

footer {
  padding: 24px;
  font-size: 16px;
}

@media only screen and (max-width: 800px)  {
  header {
    h1 {
      font-size: 1.2rem;
      padding: 10px;
    }
  }
}
</style>
