@import "normalize"
@import "prism"

@import "main"
@import "theme"
@import "post"

.site-name, .hero h1
  color #8f35e3 !important
  font-family monospace
  font-weight lighter !important
  text-transform uppercase
  text-shadow 2px 2px #270943
