html, body, #app {
  height: 100%;
}

.container {
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

a {
  text-decoration-thickness: 2px;
}

input, textarea {
  border: 1px solid black;
}

button {
  &.btn--icon {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;

    background-color: transparent;
    border: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  &.btn--round {
    border-radius: 50%;
  }
}

code {
  padding: 3px;
}

img {
  width: 100%;
}

.spacer {
  flex: 1 0 auto;
}
