$light-bg = lighten(white, 3%);
$light-fg = darken(white, 85%);
$dark-bg = darken(blue, 85%);
$secondary = lighten(yellow, 20%);

.container {
  color: $light-fg;
  background: $light-bg;
  a {
    color: lighten($dark-bg, 20%);
  }

  button {
    color: white;
    background: $dark-bg;
  }

  header {
    a {
      color: $dark-bg;
    }
    h1 {
      color: white;
      background: $dark-bg;
    }
  }

  footer {
    background: darken($light-bg, 10%);
  }

  .btn--icon {
    &:hover {
      background-color: darken($light-bg, 15%);
    }
    &:active {
      background-color: darken($light-bg, 30%);
    }
  }
}

code {
  background-color: #2d2d2d;
  color: white;
}

.container.dark {
  color: white;
  background: $dark-bg;

  a {
    color: $secondary;
  }

  button {
    color: $dark-bg;
    background: $secondary;
  }

  header {
    a {
      color: white;
    }
    h1 {
      color: $dark-bg;
      background: white;
    }
  }

  footer {
    background: darken($dark-bg, 30%);
  }

  .btn--icon {
    color: white;
    &:hover {
      background-color: darken(white, 80%);
    }
    &:active {
      background-color: darken(white, 60%);
    }
  }
}

