<template>
  <div class="home">
    <h2>
      I'm a full-stack developer based in the heart of the midwest with deep skills in JavaScript frameworks and Azure. Need to get a quick start on a new application or refactor some existing code? Fill out the contact form or email me <a href="mailto:emerson@recurse.me">directly.</a>
    </h2>

    <form action="https://formspree.io/mrgkayvo" method="POST">
      <label for="_replyto">Your email*</label>
      <input required type="email" name="_replyto" id="_replyto"/>

      <label for="message">Message*</label>
      <textarea required name="message" id="message" rows="5"></textarea>

      <button type="submit">Send</button>
    </form>
  </div>
</template>

<style lang="stylus" scoped>
h2 {
  padding-top: 3rem;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative; // helps position absolute for svg
  overflow: hidden; // hide light beam
  mix-blend-mode: exclusion;
}

.features {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  font-weight: bold;

  label {
    padding: 20px 0 5px 0;
  }
  button {
    margin-top: 20px;
    padding: 5px;
    font-weight: bold;
  }
}
</style>
