<template>
<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   viewBox="0 0 1600 680"
   height="680mm"
   width="1600mm">
  <defs>
    <linearGradient id="source_gradient">
      <stop offset="0%" style="stop-color:#ffff00;stop-opacity:1;"/>
      <stop offset="100%" style="stop-color:#ffff00;stop-opacity:0;"/>
    </linearGradient>
    <radialGradient id="radialGradient3143" xlink:href="#source_gradient"
      gradientUnits="userSpaceOnUse"
      gradientTransform="matrix(2.486084,0.00946191,-0.00537004,1.4109641,-372.96174,-168.90918)"
      r="6.0595474" fy="141.46362" fx="165.30901" cy="141.46362" cx="165.30901"/>
    <linearGradient id="beam_gradient">
      <stop offset="0%" style="stop-color:#ffff00;stop-opacity:1;"/>
      <stop offset="50%" style="stop-color:#ffff00;stop-opacity:0.9;"/>
      <stop offset="80%" style="stop-color:#ffff00;stop-opacity:0.2;"/>
      <stop offset="100%" style="stop-color:#ffff00;stop-opacity:0;"/>
    </linearGradient>
  </defs>
  <g id="light-layer">
    <path id="beam" d="M 37.250687,31.222842 1600,49 1500,267 Z" style="fill:url(#beam_gradient);stroke-width:1.03138px;"/>
  </g>
  <g :id="needsHint ? 'main-layer--wiggly' : 'main-layer'" @click="$emit('tappytap')">
    <path class="base-1" d="m 15.184759,185.32445 -2.65911,34.73722 50.172324,-5.2e-4 -2.630358,-34.73682 z" style="stroke-width:0.262658px;"/>
    <path class="base-1" d="m 17.815652,150.06167 2.640138,-34.73734 h 34.321794 l 2.640137,34.73693 z" style="stroke-width:0.262661px;"/>
    <path class="base-1" style="stroke-width:0.228604px;" d="m 23.117259,80.317073 h 29.014428 l -2.236106,-34.771394 -24.537989,4.1e-4 z"/>
    <path class="base-2" d="M 9.9287867,255.06851 H 65.356497 l -2.65956,-34.75113 -50.17025,4.1e-4 z" style="stroke-width:0.248556px;" />
    <path class="base-2" style="stroke-width:0.248556px;" d="m 15.185687,185.0682 h 44.881 l -2.65,-34.75113 -39.6,4.1e-4 z"/>
    <path class="base-2" d="m 20.456687,115.0682 h 34.32 l -2.645,-34.751127 -29.025,4.1e-4 z" style="stroke-width:0.248556px;"/>
    <g id="lighthouse-top" transform="translate(0,-0.19995355)">
      <path d="m 18.729007,37.669083 -3.2e-4,8.07329" style="stroke-width:0.449779;"/>
      <path d="m 18.728687,44.982253 h 37.691" style="stroke-width:1.51667;"/>
      <path d="m 18.728687,41.742793 h 37.69" style="stroke-width:0.700009;"/>
      <path d="m 18.728687,38.742793 h 37.691" style="stroke-width:0.700004;"/>
      <rect width="19.841644" height="6.811357" x="27.625872" y="37.171974" style="stroke-width:0.654356;"/>
      <path d="m 23.728897,37.669083 -3.2e-4,8.07329" style="stroke-width:0.449779;"/>
      <path d="m 56.191887,37.669083 -3.1e-4,8.07329" style="stroke-width:0.449779;"/>
      <path d="m 51.191887,37.669083 -3.1e-4,8.07329" style="stroke-width:0.449779;"/>
      <path
         transform="scale(-1)"
         d="m -31.424399,-27.305244 a 5.8262877,5.8182635 0 0 1 -2.913144,5.038764 5.8262877,5.8182635 0 0 1 -5.826288,-10e-7 5.8262877,5.8182635 0 0 1 -2.913143,-5.038764 l 5.826287,1e-6 z"
         style="stroke-width:0.925424;"/>
      <path d="m 37.304837,13.942203 -3.1e-4,7.44056" style="stroke-width:0.388;"/>
      <circle style="stroke-width:0.388001;" cx="37.30867" cy="13.267709" r="0.58775473"/>
      <path id="lighthouse_flag" style="stroke-width:0.165;" d="m 37.456387,14.105393 c 10.20397,0.84812 10.88664,1.30621 10.88664,1.30621 0,0 -8.01588,0.15395 -10.89134,1.77784"/>
      <rect id="lighthouse_box" style="stroke-width:0.458906;" width="12.119095" height="9.2260942" x="31.191118" y="27.842232"/>
    </g>
  </g>
</svg>
</template>

<script>
export default {
  props: {
    needsHint: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
svg {
  width: 105vw;
  min-width: 800px;
  height: auto;

  #light_source, #beam {
    display: none;
  }
  .base-1 {
    stroke: darken(white, 3%);
    fill: darken(white, 3%);
  }
  .base-2 {
    stroke: darken(blue, 85%);
    fill: darken(blue, 85%);
  }
  #lighthouse-top {
    stroke: darken(white, 40%);
    fill: darken(white, 40%);
  }
  #lighthouse_box {
    fill: none;
  }
  #lighthouse_flag {
    stroke: red;
    fill: red;
  }
}
.dark svg {
  #light_source, #beam {
    display: inline;
  }
  #lighthouse-top {
    stroke: darken(white, 90%);
    fill: darken(white, 90%);
  }
}

#main-layer--wiggly {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-delay: none;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
}
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(-3deg); }
  90% { transform: rotate(3deg); }
  95% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

#beam {
  // animation-name: beam;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes beam {
  100% {
    transform: translate(10px, -4px) rotate(10deg);
  }
}

@media only screen and (max-width: 800px)  {
  #beam {
    transform: translate(7px, -3px) rotate(7deg);
  }
}
@media only screen and (max-width: 600px)  {
  #beam {
    transform: translate(10px, -4px) rotate(10deg);
  }
}
</style>
