<template>
  <div>
    <h3>2018</h3>
    <router-link to="/posts/choosing-a-nuxt-mode.html">Choosing a Nuxt Mode</router-link>
    <p>Nuxt, one of the most popular Vue frameworks for new web apps, can greatly improve your app performance and SEO. One of the most important Nuxt configurations is the mode, as it determines how your app is built, deployed, and served.  There are three main types of web apps out there today: SPA, UWA, and pre-rendered SPA...</p>
  </div>
</template>

<style lang="stylus" scoped>
  h3 {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
  a {
    font-size: 1.2rem;
  }
</style>
