<template>
  <div class="border-set" v-bind:style="setStyle">
    <span class="border-content"><slot></slot></span>
    <div
      v-for="(color, index) in colors"
      :key="color"
      ref="colors"
      class="border"
      :style="borderStyle(color, index)"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    height: {
      type: Number,
      default: 250,
    },
    width: {
      type: Number,
      default: 250,
    },
    square: {
      type: Boolean,
      default: false,
    },
    colors: {
      type: Array,
      default() {
        return ['red', 'blue', 'green'];
      },
    },
    // max translation distance in px
    max: {
      type: Number,
      default: 5,
    },
    // min translation distance in px
    min: {
      type: Number,
      default: -5,
    },
    // scroll distance in pixels
    interval: {
      type: Number,
      default: 250,
    },
  },
  data() {
    return {
      lastKnownScrollPosition: 0,
      ticking: false,
      xVelocities: [1, -3, 1, -2],
      yVelocities: [3, 2, -2, -1],
    };
  },
  computed: {
    setStyle() {
      return `
        height: ${this.height}px;
        width: ${this.width}px;
      `;
    },
    halfway() {
      return this.interval / 2;
    },
  },
  mounted() {
    window.addEventListener('scroll', this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  },
  methods: {
    borderStyle(color, index) {
      const top = [6, 6, -6, -6][index%4];
      const left = [6, -6, 6, -6][index%4];
      return `
        height: ${this.height}px;
        width: ${this.width}px;
        border-color: ${color};
        top: ${top}px;
        left: ${left}px;
        border-radius: ${this.square ? '0' : '4000'}px;
      `;
    },
    onScroll() {
      this.lastKnownScrollPosition = window.scrollY || window.pageYOffset;

      if (!this.ticking) {
        window.requestAnimationFrame(() => {
          this.updatePositions(this.lastKnownScrollPosition);
          this.ticking = false;
        });

        this.ticking = true;
      }
    },
    updatePositions(scroll) {
      this.$refs.colors.forEach((el, i) => this.updatePosition(el, scroll, this.xVelocities[i], this.yVelocities[i]));
    },
    /*
      the animation follows a triangle wave graph (linear easing)
      where the x-axis is the scroll position and the y axis is
      the border offset translation

            |
      max   |   o       o       o
            |  o o     o o     o o
            | o   o   o   o   o   o
            |o     o o     o o     o
      min   o-------o-------o-------o
                    |
                interval
    */
    updatePosition(element, scroll, xDir=1, yDir=1) {
      // convert scroll distance to offset distance
      let distance = Math.abs(((scroll % this.halfway) * (this.max-this.min)) / this.halfway + this.min);
      
      let animationDir;
      let startingPoint;
      if (scroll % this.interval < this.halfway) {
        animationDir = 1; // towards max
        startingPoint = this.min;
      } else {
        animationDir = -1; // towards min
        startingPoint = this.max;
      }
      let offsetX = (startingPoint + animationDir*distance)*xDir;
      let offsetY = (startingPoint + animationDir*distance)*yDir;
      element.style.transform = `translate(${offsetX}px, ${offsetY}px)`;
    },
  },
};
</script>

<style>
.border-set {
  margin: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.border-content {
  padding: 60px 30px 30px 60px;
}
.border {
  position: absolute;
  mix-blend-mode: difference;
  border-width: 15px;
  border-style: solid;
  border-radius: 400px;
}
</style>
